**/target/
**/bin/
**/lib/*.jar
**/seed/*.jar
.DS_Store
/.gradle/
generated/
/.metadata/
/PostgreSQL/
/Oracle/
/log/
/.idpass
/idempiere.properties
/idempiereEnv.properties
/hazelcast.xml
/jettyhome/
/org.idempiere.javadoc/API
/.sonarlint/
**/org.sonarlint.eclipse.core.prefs
org.idempiere.maven.to.p2/org.idempiere.webservice.client/.settings/
**/org.eclipse.jdt.core.prefs
cnf/local/*

